/* Typography */
:root {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  line-height: 1.25;
  font-family: var(--font-family-main);
  color: var(--color-text-body);
  background-color: var(--color-background);
}
a {
  color: var(--color-active);
}
a:hover {
  filter: brightness(120%);
}
a:focus-visible {
  border-radius: 0.4rem;
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--color-active);
}
nav a {
  color: var(--color-secondary-300);
}
p {
  word-break: break-word;
}
/* Typography classes */
.heading-1 {
  color: var(--color-heading-1);
  font-family: var(--font-family-heading);
  font-size: 3.2rem;
  line-height: 1.25;
}
.heading-2 {
  color: var(--color-heading-2);
  font-family: var(--font-family-heading);
  font-size: 2.6rem;
  line-height: 1.25;
}
.sub-heading {
  font-size: 2.4rem;
}

.text-body-large {
  font-size: 2rem;
  line-height: 1.25;
}
.text-body-medium {
  font-size: 1.8rem;
  line-height: 1.4;
}
.text-body-small {
  font-size: 1.4rem;
}
.text-label {
  font-size: 1.6rem;
  font-weight: 500;
}
.text-weight-bold {
  font-weight: 500;
}
/* Border radius */
.rounded {
  border-radius: var(--border-radius-base);
}
/* Flex 12-col grid system */
.f-w-container {
  width: 100%;
  margin: auto;
  padding-inline: 6.4rem;
  max-width: var(--max-width);
  @media screen and (max-width: 1200px) {
    padding-inline: 4.8rem;
  }
  @media screen and (max-width: 992px) {
    padding-inline: 3.2rem;
  }
  @media screen and (max-width: 780px) {
    padding-inline: 2.4rem;
  }
  @media screen and (max-width: 576px) {
    padding-inline: 1.6rem;
  }
}
.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  --columns: 12;
  --base-gap: calc(var(--base-spacing) * 2);
  --base-basis: calc((100% - (var(--base-gap) * (var(--columns) - 1))) / var(--columns));
}
[class*='col-'] {
  --width: 1;
  --col-basis: calc((var(--width) * var(--base-basis)) + ((var(--width) - 1) * var(--base-gap)));
  flex-basis: var(--col-basis);
  position: relative;
}
.col-1 {
  --width: 1;
}
.col-2 {
  --width: 2;
}
.col-3 {
  --width: 3;
}
.col-4 {
  --width: 4;
}
.col-5 {
  --width: 5;
}
.col-6 {
  --width: 6;
}
.col-7 {
  --width: 7;
}
.col-8 {
  --width: 8;
}
.col-9 {
  --width: 9;
}
.col-10 {
  --width: 10;
}
.col-11 {
  --width: 11;
}
.col-12 {
  --width: 12;
}
/* Flexbox utilities */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.flex-end {
  justify-content: flex-end;
}
/* Spacing */
.m-auto {
  margin: auto;
}
/* Re-active classes */
.clickable {
  cursor: pointer;
}
