/* fade */
.slide-fade-enter-active {
  --transition-time: 0.5s;
  transition: all var(--transition-time) ease-out;
}

.slide-fade-enter-from {
  --translate-x: 2.4rem;
  --opacity: 0;
  transform: translateX(var(--translate-x));
  opacity: var(--opacity);
  @media (max-width: 576px) {
    --translate-y: 3.2rem;
    transform: translateY(var(--translate-y));
  }
}
/* Slide in */
.slide-in-enter-active {
  --transition-time: 0.5s;
  transition: all var(--transition-time) ease-in-out;
}

.slide-in-enter-from {
  --translate-x: -2.4rem;
  opacity: 0;
  transform: translateX(var(--translate-x));
}
